.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5db7de;
}

.main-card {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  min-height: 60vh;
  min-width: 40vw;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f1e9db;
}
